body {
    overflow: hidden;
    background-color: #FFF6C3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

.title {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: #850000;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1150px;
    box-sizing: border-box;
    border: #FFDB89 solid 10px;
    padding: 10px;
}

.card {
    display: block;
    height: 150px;
    min-width: 100px;
    padding: 2px;
    perspective: 1000px;
}

.card-front {
    position: absolute;
    display: inline-block;
    height: 150px;
    width: 100px;
    transform: rotateY(360deg);
    background-color: #DC0000;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front:hover {
    box-sizing: border-box;
    border: 2px white solid;
}

.card-back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
    display: inline-block;
    height: 150px;
    width: 100px;
    background-color: #497174;
    transition: transform 0.6s;
    transform-style: preserve-3d;  
    background-size: cover;
    background-position: center; 
    box-sizing: border-box;
    border: 5px #850000 solid;
}

.card-front-rotate {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

.card-back-rotate {
    transform: rotateY(360deg);
  }
  
.restart-button {
    margin-top: 10px;
    padding: 20px 525px;
    background-color: #ceb988;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    color: #850000;
}

.restart-button:hover {
    background-color: #DC0000;
    color: white;
}

@media only screen and (max-width: 550px) {
 
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 300px;
    }

    .card {
        height: 100px;
        min-width: 60px;
    }
    
    .card-front {
        height: 100px;
        width: 60px;
    }
    
    .card-back {
        height: 100px;
        width: 60px;
    }

    .title {
        font-size: 30px;
        text-align: center;
        padding-bottom: 15px;
    }

}